.componente{
  display: flex;
  flex-wrap: wrap;
}
.itens{
  
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 20px;
  border-radius: 30px;
  border-width: 1px;
  margin: 5px;
  border-style: solid;
  border-color: #bdbdbd;
  background-color: #fff;
  color: #bdbdbd;
  
  
}
.itens:hover{
  color:#50a5c2;
  border-color: #50a5c2;
}